<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>367414191414-pj1c3kt2uf32l3v6619k6sbi9l08f30t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367414191414-pj1c3kt2uf32l3v6619k6sbi9l08f30t</string>
	<key>API_KEY</key>
	<string>AIzaSyCUzq35VyhZsyuzbwg9cMWHbwRoRld-vFs</string>
	<key>GCM_SENDER_ID</key>
	<string>367414191414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bgolski.Locksmith</string>
	<key>PROJECT_ID</key>
	<string>locksmith-10051</string>
	<key>STORAGE_BUCKET</key>
	<string>locksmith-10051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367414191414:ios:93ae85341f00cc9c</string>
	<key>DATABASE_URL</key>
	<string>https://locksmith-10051.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3672141075661360~6523589670</string>
</dict>
</plist>